*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: blue;
    font-family: sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-random-password{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}
.container h1{
    font-size: 45px;
    font-weight: 500;
}
.display{
    background-color:white;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 20px;
    border-radius: 5px;
    color: black;
    border: 3px solid blue;
}
.display input{
    border: 0;
    font-size: 24px;
    outline: 0;
    flex: 1;
    background-color: white;
    font-family: sans-serif;
}
.container button{
    border: 0;
    outline: 0;
    background: rgb(194, 194, 248);
    color: blue;
    font-size: 22px;
    padding: 14px 24px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5px;
    font-family: sans-serif;
}
.display i{
    font-size: 25px;
    color: rgb(187, 187, 251);
}
.container button:hover{
    background: blue;
    color: rgb(194, 194, 248);
}
.tools-elements{
    background-color:white;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content:left;
    font-size: 25px;
}
.tools-elements select{
    margin-left: 10px;
    border-color: rgb(194, 194, 248);
    border-width: 2px;
    border-radius: 5px;
    font-size: 15px;
    padding: 3px;
}